:root {
   /* tjrap css */
   --main1:#000000;
   --main2:#ffffff;
   --clr1:black;
   --clr2:red;
   --clr3:grey;
   --hdr: linear-gradient(90deg, rgba(14,0,255,1) 40%, rgba(255,255,255,0) 70%);
}
/*scanlines*/
.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
}
.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
.crt{
}
/*text*/
@font-face {
   font-family:Upheaval;
   src:url('/1fonts/upheavtt.ttf');
}
@font-face {
   font-family:Minecraftia;
   src:url('/1fonts/MinecraftStandard.otf');
}
@font-face {
   font-family:Minecraft;
   src:url('/1fonts/MinecraftStandard.otf');
   font-weight:bold;
}
@font-face {
   font-family:Minecraftia;
   src:url('/1fonts/MinecraftStandard.otf');
   font-style:italic;
}
h1,h2,h3 {
   font-family:'Upheaval'!important;
}
body {
   font-family:'Minecraft'!important;
   font-size:12px!important;
}
p{
   line-height: 1.5rem!important;
}

code, a{
   word-wrap:break-word!important;
}

/*image*/
img.banner, .tjrbox, .tjrbox2{
   width: 100%;
   border-width:var(--brdr-width1);
   border:solid var(--clr2);
}
img.banner{
   margin-bottom:-1vh ;
}

img.tjrimg{
   border-width:var(--brdr-width1);
   border:solid var(--clr2);
   width: 100%;
   margin: auto;
}
.trnsprnt{
   width: 35%;
}
/*flex*/
.tjrflex, .tjrflex2 {
   display:flex;
   margin: 2vh 0vw 0vh 0vw;
   justify-content: space-evenly;
}

.tjrflex{
   flex-direction: row;
}

.tjrflex2{
   flex-direction: row-reverse;
}

/*box*/
.tjrbox{
   margin-top:-1vh;
   padding-top: 1vh;
}

.tjrbox2{
   display: block;
}

/*mobile friendly*/
@media screen and (max-width:601px) {
*{
   box-sizing:border-box;
}
.tjrbox2{
   margin: 1vh 0vw 1vh 0vw!important;
}
.tjrflex, .tjrflex2 {
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.trnsprnt{
   margin:auto;
}
}