<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <title>{{title}}</title>
     <link rel="stylesheet" href="{{ '/_assets/roach.css' | url }}">
     <link rel="stylesheet" href="{{ '/_assets/baguetteBox.min.css' | url }}">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <script src="https://unpkg.com/@phosphor-icons/web">
     </script>
     <link rel="stylesheet" href="/_assets/baguetteBox.min.css">
     <link rel="stylesheet" href="/_assets/roach.css">  
     <link rel="icon" type="image/x-icon" href="/_img/1favicon.webp">
     <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
     <meta name="title" content="Mechagic's Fun Zone" />
     <meta name="description" content="{{ogd}}" />
     <meta name="image" content="https://mechagic.github.io/_img/1favicon.webp" />
     <meta property="og:type" content="website" />
     <meta property="og:url" content="https://mechagic.github.io/" />
     <meta property="og:title" content="Mechagic's Fun Zone" />
     <meta property="og:description" content="{{propd}}" />
     <meta property="og:image" content="https://mechagic.github.io/_img/1favicon.webp" />
 </head>
 <style>
    .charimg {
        background-color:var(--bg);
        background-image: url('{{charimg}}');
        border:var(--bord3);
        border-bottom: 0px;
        border-radius:15px 15px 0px 0px ;
        height: 64.103vh;
        width: 19.531vw;
        background-size: auto;
    }
    .charname {
        border:var(--bord3);
        border-radius:0px 0px 15px 15px;
        padding: 15px;
        height: auto;
        width: 19.531vw;
        background-color:var(--bg);
        background-attachment: fixed;
        background-position: center;
    }
    h1,h2,h3{
        margin: 0px;
    }
    .bx2, .tab, .tabcontent{
        margin-left: 25px;
    }
    .tabcontent{
      padding: 25px;
    }
@media only screen and (max-width:800px) {
    .charimg {
        height: 64.103vh;
        width: 66.667vw;
        background-size: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .charname {
        height: auto;
        width: 66.667vw;
        background-color:var(--bg);
        margin-left: auto;
        margin-right: auto;
    }
    .bx2, .tab, .tabcontent{
        margin-left: 0px;
    }
}

</style>
<body>
  <div id="container">
    <div id="header">
      <div class="header__desktop">
        <span style="font-size: 45px;">
          {{ocversedesk}}
        </span>
      </div>
      <div class="header__mobile">
        <span style="font-size: 45px;">
          {{ocversemob}}
        </span>
      </div>
    </div>
  </div>
  <div id="flex">
    <main4>
      <div class="rflex">
        <div class="invis">
          <div class="charimg"></div>
          <div class="charname"><h3>{{name}} | <a href="javascript:window.history.back()">Go Back</a></h3></div>
        </div>
        <div class="cflex">
          <div class="rflex">
            <div class="invis">
              <div class="bx2">
                <h2>INFO</h2>
                <hr>
                <div class="rflex">
                  <p>
                    <b>AGE:</b> {{age}}<br>
                    <b>SPECIES:</b> {{species}}<br>
                    <b>PRONOUNS:</b> {{pronouns}}<br>
                    <b>GENDER:</b> {{gender}}<br>
                  </p>
                  <hr class="vr" style="margin: 0px 10px 0px 10px;">
                  <p>
                    <b>ORIENTATION:</b> {{orientation}}<br>
                    <b>OCCUPATION:</b> {{occupation}}<br>
                    <b>VOICE CLAIM:</b> {{voiceclaim}}<br>
                    <b>ALIGNMENT:</b> {{alignment}}
                  </p>
                </div>
              </div>
            </div>
            <div class="invis">
              <div class="bx2">
                <b>COLORS</b>
                <hr class="th">
                {{color | safe}}
              </div>
            </div>
          </div>
          <div class="invis">
              <div class="tab">
                <button class="tablinks" onclick="openCity(event, '1')" id="defaultOpen">Personality</button>
                <button class="tablinks" onclick="openCity(event, '2')">Biography</button>
                <button class="tablinks" onclick="openCity(event, '3')">Abilities</button>
                <button class="tablinks" onclick="openCity(event, '4')">More Lore</button>
              </div>
              <div id="1" class="tabcontent">
                <p>{{personality}}</p>
              </div>
              <div id="2" class="tabcontent">
                <p>{{biography}}</p>
              </div>
              <div id="3" class="tabcontent">
                <p>{{abilities}}</p>
              </div>
              <div id="4" class="tabcontent">
                <p>{{morelore}}</p>
              </div>
          </div>
        </div>
      </div>
      <br><hr><br>
      <h1>GALLERY</h1>
      <br>
      <div class="bx2">
         <div class="gallery">
          {{content | safe}}
         </div>
      </div>
    </main4>
</body>
</html>

<script>
    function openCity(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }
    
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>
     <script src="/_assets/baguetteBox.min.js" charset="utf-8"></script>
<script type="text/javascript">
window.addEventListener('load', function() { baguetteBox.run('.gallery');
});
</script>