---
layout: t3a.njk
title: Archived Story Snippets 1
tags:
    - archive
    - wposts
date: 2023-12-08
---

<p><strong>Author's Note:</strong> Part 2 of this, the next post will be an archival of &quot;Interview Of The Damned&quot;, which was a personal writing project that I might reboot in the future</p>
<p>Warning for body horror, death (again)</p>
<p>Literally what was I doing during quarantine, good god</p>
<hr>
<h2>Elizabeth - 9 February, 2021</h2>
<p>Elizabeth, why did you leave?</p>
<p>I still remember the day you did</p>
<p>If only I had stopped you</p>
<p>If only I had loved you more</p>
<p>But alas</p>
<p>Those are just ‘what ifs’</p>
<p>And now you are dead</p>
<hr>
<h2>A Not So Old Man - 10 February, 2021</h2>
<p>Not once did the old man scream as they burrowed into his flesh</p>
<p>Not once did he cry out for help</p>
<p>What he did though was disturbing</p>
<p>His cackles as they ate him alive were disurbing</p>
<p>Yet comforting at the same time</p>
<p>After all…</p>
<p>When the maggots were done</p>
<p>And his flesh had finished decomposing</p>
<p>He finally felt happiness</p>
<p>As his flesh became one with the world</p>
<p>And his body reborn</p>
<p>As a crying child</p>
<p>Who had no business coming into this wretched world</p>
<hr>
<h2>Eyes - 11 February, 2021</h2>
<p>They are all watching</p>
<p>It feels weird</p>
<p>I do not like it</p>
<p>Though it feels weirdly comfy</p>
<p>Knowing that someone is watching me</p>
<p>At least I know that if I die</p>
<p>They are going to see</p>
<p>And say it to my family and friends</p>
<p>The amount of emotion that can be gleaned</p>
<p>By looking through someone’s eyes</p>
<p>Is a lot…</p>
<hr>
<h2>Endless - 12 February, 2021</h2>
<p>Space what a curious thing</p>
<p>Constant reformations</p>
<p>And constant destruction</p>
<p>Really beautiful in reality</p>
<p>For the destruction is balanced by the creation of many things</p>
<p>And if the creation of many non-living things exist</p>
<p>Then it is possible for aliens to exist too as well</p>
<p>Perhaps we will meet these new friends someday…</p>