---
layout: t3s.njk
title: Concept of Communication
tags:
    - story
    - wposts
date: 2025-02-25
---
<style>
   p{
    text-align: center;
   }

   h2{
    text-align: center;
   }
</style>
<p><strong>Author's Note:</strong>  This is some concept writing for my OCverse :}</p>
<hr>
<p>The concept of communication</p>
<p>Is a mere child</p>
<p>It lets us speak without the fear of our tongues coming loose</p>
<p>It lets us touch without melting into each other</p>
<p>It lets us form communities without losing our individuality</p>
<p>And yet it will never reach adulthood despite all it has done for us</p>
<p>It won't ever experience community</p>
<p>If it does</p>
<p>Our tongues will come loose and our touch will melt us into each other</p>