---
layout: t3p.njk
title: Empyrean Hell
tags:
    - poetry
    - wposts
date: 2025-03-15
---
<style>
   p{
    text-align: center;
   }
</style>
<p>Tore all of themselves to the incessant
<br><br>
Their pieces of crumbling sanctity
<br><br>
Lain down at their temple of catabolism
<br><br>
The thread of the aubade, their sclera
<br><br>
Their own sense of self must be desolated
<br><br>
Seeds of destruction on their alter
<br><br>
Sown by others, the consequences reaped
<br><br>
They hear their lungs breathing hard
<br><br>
They feel their heart beating in shallow
<br><br>
Eyes blinking out, the stars opening wide
<br><br>
Empyrean ceiling of hell above
<br><br>
And a twitch of the anatomical</p>
