---
layout: t3p.njk
title: Freestyle Poetry 1-5
tags:
    - poetry
    - wposts
date: 2023-12-11
---
<style>
   p{
    text-align: center;
   }
</style>
<blockquote>
<p><em>11/12/2023</em></p>
</blockquote>
<p>Nothing else will be left of me</p>
<p>Bright eyes scorn my mortal body</p>
<p>Ashes to dust, dust to ashes</p>
<p>Lay my final breath to pieces</p>
<p>Beings of higher bouts gaze on</p>
<p>Everything gone as I lie</p>
<p>Nothing left on my resting spot</p>
<hr>
<blockquote>
<p><em>12/12/2023</em></p>
</blockquote>
<p>Put out flames of the bright eye's wrath</p>
<p>Body built out of dust and ashes</p>
<p>Beings of above stare at it</p>
<p>Loathing a creature that was not</p>
<p>Fanning the blazed vessel through night</p>
<p>Hands reach out towards it, no such luck</p>
<p>Begging forgiveness, love no thoughts</p>
<p>Nothing left to give, nodding for loathe</p>
<hr>
<blockquote>
<p><em>20/12/2023</em></p>
</blockquote>
<blockquote>
<p><em>(below are written in the same date)</em></p>
</blockquote>
<p>Explore the frozen</p>
<p>The animals not quite right</p>
<p>Echoes put distance</p>
<p>Push off the warnings of old</p>
<p>Without fear, with love</p>
<p>Instill a warmth in the frost</p>
<p>Put down old worries</p>
<p>Take off the old self that yearns</p>
<p>And fly with duty</p>
<hr>
<p>Put off by the mundane</p>
<p>Attending to the unknown</p>
<p>Down in the dark depths</p>
<p>A lone stranger puts on masks</p>
<p>Begging for entrance</p>
<p>Pleading for resurrection</p>
<p>Mundane forgotten</p>
<p>Unknown feasters ensure none left</p>
<p>Lone beings absorb</p>
<p>Forgotten stranger now gone</p>
<hr>
<p>False creatures see through the truth</p>
<p>Embracing the facade</p>
<p>Cry with the already dead</p>
<p>Celebrate with unreal love</p>
<p>Eat through the rotten flesh of the heart</p>
<p>Put down false airs, see the truth</p>
<p>Turn away from the facade</p>