---
layout: t3p.njk
title: Haiku Dump 1
tags:
    - poetry
    - wposts
date: 2024-02-04
---
<style>
   p{
    text-align: center;
   }

   h2{
    text-align: center;
   }
</style>
<p>Organs on the floor</p>
<p>Umbilical cord cut out</p>
<p>Teeth inside the womb</p>
<hr>
<p>Lost lovers lie down</p>
<p>The forest whispers sweetly</p>
<p>Found dead in the woods</p>
<hr>
<p>Consumption of life</p>
<p>Unwanted people cry out</p>
<p>No memories mourned</p>
<hr>
<p>Left inside to rot</p>
<p>The bodies become one soul</p>
<p>Melted together</p>
<hr>
<p>Toads all over them</p>
<p>Warts grow out of the body</p>
<p>Reaching towards sky</p>