---
layout: t3p.njk
title: Haiku Dump 3
tags:
    - poetry
    - wposts
date: 2024-03-08
---
<style>
   p{
    text-align: center;
   }

   h2{
    text-align: center;
   }
</style>
<p>You are flesh and blood</p>
<p>With teeth and a stomach</p>
<p>Hunger is life itself</p>
<hr>
<p>Living a dead life</p>
<p>All the days repeat themselves</p>
<p>Living a safe life</p>
<hr>
<p>Witness death and plague</p>
<p>All the people crying out</p>
<p>Burning their loved ones</p>
<hr>
<p>Sickness prevented</p>
<p>Too late for those left behind</p>
<p>Keeping those here safe</p>
<hr>
<p>Not meant to be here</p>
<p>An unfortunate birthing</p>
<p>Of something deep in</p>
<hr>
<p>Well of infinity</p>
<p>Reborn in a finite world</p>
<p>An angel was born</p>
<hr>
<p>Bring forth new monsters</p>
<p>A shrinking entrance to life</p>
<p>Celebrate rebirth</p>
