---
layout: t2
title: My Writing
details: Some are good, some are bad, and some were made by a bug having a bad day
---

<p><a href="/2feed/writing_feed.xml">rss feed</a> for all categories, if you want to read my fanfiction go <a href="https://archiveofourown.org/users/mechagic_party">here</a></p>

<h3>Short Stories And Concepts</h3>
<p>My short stories, I mostly make them up on the fly.
<br><a href="/2feed/story_feed.xml">rss feed</a></p>

<ul>
{%- for post in collections.story | reverse -%}
    <li><a style="font-style: normal;" href="{{ post.url }}">{{ post.data.title }}</a> - <span style=" font-style: normal;">{{ post.date.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }).replace('.', '') }}</span></li>
  {%- endfor -%}
</ul>

<h3>Poetry</h3>
<p>All of these are experimental and some of these are pretentious
<br><a href="/2feed/poetry_feed.xml">rss feed</a></p>

<ul>
{%- for post in collections.poetry | reverse -%}
     <li><a style="font-style: normal;" href="{{ post.url }}">{{ post.data.title }}</a> - <span style=" font-style: normal;">{{ post.date.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }).replace('.', '') }}</span></li>
  {%- endfor -%}
</ul>

<h3>Archives</h3>
<p>Old stuff from my original writing blog on Tumblr, might rewrite IOTD. SaH is under rewriting.

<ul>
{%- for post in collections.archive | reverse -%}
     <li><a style="font-style: normal;" href="{{ post.url }}">{{ post.data.title }}</a> - <span style=" font-style: normal;">{{ post.date.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }).replace('.', '') }}</span></li>
  {%- endfor -%}
</ul>