<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{{ '/1stylescripts/colors.css' | url }}">
    <link rel="stylesheet" href="{{ '/1stylescripts/theme.css' | url }}">
    <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <meta name="title" content="{{title}}" />
    <meta name="description" content="{{details}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://mechagic.party/" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="{{details}}" />
    <meta property="og:image" content="/2images/1icon.webp" />
    <link rel="icon" type="image/x-icon" href="/2images/1icon.webp">
  </head>
  <body>
    <div id="cntnr">
      <div id="header">
        <div class="trnsprnt" style="background: linear-gradient(90deg, rgba(14,0,255,1) 40%, rgba(255,255,255,0) 70%); padding: 0.5rem;"><a class="hidden" href="/"><h1 class="head">MECHAGIC.PARTY</h1></a></div>
      </div>
      <div class="flex" style="justify-content: center;">
        <div class="blue"></div>
        <div class="box">
          <h3>NAVIGATION</h3>
             <ul>
              <li><a href="/about">About Me</a></li>
              <li><a href="/journal">Journal</a></li>
              <li><a href="/oc_wiki">OC Wiki</a></li>
              <li><a href="/creations">Creations</a></li>
              <li><a href="/platforms">Platforms</a></li>
              <li><a href="/resources">Resources</a></li>
             </ul> 
        </div>
        <div id="commitLink">
          <h3>DETAILS</h3><div id="shortHash"></div><div id="commitLatest"></div><br>
          <button data-set-theme="" class="theme" style="background:white;" data-act-class="ACTIVECLASS"></button>
          <button data-set-theme="lowlight" class="theme" style="background:#D1D0A3;" data-act-class="ACTIVECLASS"></button>
          <button data-set-theme="highdark" class="theme" style="background:black;" data-act-class="ACTIVECLASS"></button>
          <button data-set-theme="lowdark" class="theme" style="background:#153243;" data-act-class="ACTIVECLASS"></button>
        </div>
        <div class="blue"></div>
      </div>
      <div class="flex" style="justify-content: center;">
        <div class="blue"></div>
        <div id="feed-reader"></div>
        <div class="box">Right here is a link to my guestbook:
          <br><br>
          <center><a href="/guestbook"><img class="main" src="/2images/1guestbook.webp" alt="Link to guestbook"></a></center>
        </div>
        <div class="blue"></div>
      </div>
      <main>
        {{content | safe}}
      </main>
      <div id="footer">
        <center><a href="/riiatw">Relatively Important Information About the Website (Or RIIAtW for short)</a></center>
      </div>
    </div>
  </body>
</html>

<script>
  fetch('https://api.github.com/repos/mechagic/mechagic.github.io/commits?per_page=1')
      .then(res => res.json())
      .then(res => {
          let sha = res[0].sha;
          let authorDate = new Date(res[0].commit.author.date);
          document.getElementById('commitLatest').innerText = res[0].commit.message;
          document.getElementById('shortHash').innerText = "latest commit:" + sha.substring(0, 7) + " on " + authorDate.toLocaleDateString('en-GB', { day: '2-digit', month: '2-digit', year: '2-digit' });
          document.getElementById('commitLink').href = "https://github.com/mechagic/mechagic.github.io/commit/" + sha
      });
</script>

<script>
  const feedURL = 'https://status.cafe/users/mechagic.atom';
  fetch(feedURL).then(response =>response.text()).then(str =>new window.DOMParser().parseFromString(str, "text/xml")).then(data =>{
    const entries = data.querySelectorAll("entry");
    let html = ``;
    let title,
    content,
    dateString = ``;
    entries.forEach(el =>{
      title = el.querySelector("title").innerHTML.slice(0, 11).trim();
      content = el.querySelector("content").textContent.trim();
      dateString = el.querySelector("published").innerHTML.slice(0, 10);
      html += ` 
      <p> $ {title} - $ {dateString}<p> 
      <p> $ {content} </p>`;});
    let html2 = ``;for (i = 0; i < 1; i++) {title = entries[i].querySelector("title").innerHTML.slice(0, 12).trim();content = entries[i].querySelector("content").textContent.trim();dateString = entries[i].querySelector("published").innerHTML.slice(0,10);html2 += `<p>${title} - ${dateString}<p><p>${content}</p>`;
    }
    document.getElementById("feed-reader").innerHTML = html2;
  })
</script>

<style>
  #commitLink, #feed-reader{
  background:var(--main);
  border-style:solid;
  border-width:var(--brdr-width1);
  border-color:var(--clr1);
  padding:var(--pad2);
  width: 25%;
  margin:0px var(--inner-margin) var(--inner-margin);
  }

@media screen and (max-width: 800px) {
  #commitLink, #feed-reader{
    padding:var(--pad3);
    width: 100vw !important;
    margin:0px;
    border-width:var(--brdr-widthmb);
  }
}
</style>