<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{{ '/1stylescripts/colors.css' | url }}">
    <link rel="stylesheet" href="{{ '/1stylescripts/theme.css' | url }}">
    <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <meta name="title" content="{{title}}" />
    <meta name="description" content="{{details}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://mechagic.party/" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="{{details}}" />
    <meta property="og:image" content="/2images/1icon.webp" />
    <link rel="icon" type="image/x-icon" href="/2images/1icon.webp">
  </head>
  <body>
    <div id="cntnr">
      <div id="header">
        <div class="trnsprnt" style="background: linear-gradient(90deg, rgba(14,0,255,1) 40%, rgba(255,255,255,0) 70%); padding: 0.5rem;"><a class="hidden" href="/"><span class="head">MECHAGIC.PARTY</span></a></div>
      </div>
      <div class="flex" style="justify-content: center;">
        <div class="blue"></div>
        <div class="box">
          <h3>NAVIGATION</h3>
             <ul>
              <li><a href="/about">About Me</a></li>
              <li><a href="/journal">Journal</a></li>
              <li><a href="/oc_wiki">OC Wiki</a></li>
              <li><a href="/creations">Creations</a></li>
              <li><a href="/platforms">Platforms</a></li>
              <li><a href="/resources">Resources</a></li>
             </ul> 
        </div>
        <div class="box">
          <h3>{{title}}</h3>
             {{details | safe}}
        </div>
        <div class="blue"></div>
      </div>
      <main>
        {{content | safe}}
      </main>
      <div id="footer">
        <center><a href="/riiatw">Relatively Important Information About the Website (Or RIIAtW for short)</a></center>
      </div>
    </div>
  </body>
</html>