<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{{ '/1stylescripts/th1.css' | url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <meta name="title" content="{{title}}" />
    <meta name="description" content="{{details}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://mechagic.party/" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="{{details}}" />
    <meta property="og:image" content="/2images/1icon.webp" />
    <link rel="icon" type="image/x-icon" href="/2images/1icon.webp">
  </head>
  <body>
    <div id="cntnr">
      <div id="header">
        <div class="trnsprnt" style="background: linear-gradient(90deg, rgba(14,0,255,1) 40%, rgba(255,255,255,0) 70%); padding: 0.5rem;"><h1 style="margin-left: 2rem;"><a class="hidden" style="color: white !important" href="/">mechagic.party</a></h1></div>
      </div>
      <main>
        <h2>{{title}}</h2>
        {{content | safe}}
        <hr>
        <center><h4><a href="javascript:window.history.back()">Go Back</a></h4></center>
      </main>
      <div id="footer">
        <center>Mobile-friendly | Best viewed on a 1760px x 833px desktop | JavaScript Required |  Powered by Github</center>
      </div>
    </div>
  </body>
</html>